{% extends "store/base.html" %}
{% block content %}
    <div class="content-profile">
        <div class="media">
            <img class="account-img" src="{{ profile.profpic.url }}">
            <div class="account-body">
                <h2 class="account-heading">{{ profile.fname }} {{ profile.lname }}</h2>
                <p class="text-secondary">{{ profile.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
            </fieldset>
            <div class="form-group">
                <button class="submit-button" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}